.text-decoration-none {
	text-decoration: none;
}
.h-screen {
    height: 100vh !important;
}
.w-screen {
    width: 100vw !important;
}
.overflow-hidden {
	overflow: hidden;
}

@each $size, $length in $sizes {
	.min-h-#{$size} {
		min-height: $length;
	}
	.mh-#{$size} {
		max-height: $length;
	}
	.min-w-#{$size} {
		min-width: $length;
	}
	.mw-#{$size} {
		max-width: $length;
	}
}

@each $name, $value in $line-heights {
	.leading-#{$name} {
		line-height: $value;
	}
}
@each $size, $value in $font-sizes {
	.fz-#{$size} {
		font-size: $value !important;
	}
}

.bg-no-repeat {
	background-repeat: no-repeat !important;
}
.bg-size-contain {
	background-size: contain !important;
}
.bg-position-center {
    background-position: center !important;
}
.bg-size-cover{
	background-size: cover;
}
.background-position-x-right{
	background-position-x: right !important;
}

@each $name, $value in $spacers{
	.top-#{$name} {
		top: $value;
	}
	.top-n#{$name} {
		top: $value * -1 !important;
	}
	.bottom-#{$name} {
		bottom: $value;
	}
	.bottom-n#{$name} {
		bottom: $value * -1;
	}
	.right-#{$name} {
		right: $value;
	}
	.right-n#{$name} {
		right: $value * -1;
	}
	.left-#{$name} {
		left: $value;
	}
	.left-n#{$name} {
		left: $value * -1;
	}
}
@import 'utilities/sm';
@import 'utilities/md';
@import 'utilities/lg';
@import 'utilities/xl';
@import 'utilities/hd';
