$theme-primary: #aaa;
$theme-secondary: #777;

$theme-colors: (
    'theme-primary': $theme-primary,
    'theme-secondary': $theme-secondary,
);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * math.div(2.5, 16)), // 2.5px
    2: ($spacer * math.div(5, 16)), // 5px
    3: ($spacer * math.div(10, 16)), // 10px
    4: ($spacer * math.div(15, 16)), // 15px
    5: ($spacer * math.div(20, 16)), // 20px
    6: ($spacer * math.div(25, 16)), // 25px
    7: ($spacer * math.div(30, 16)), //30px
    8: ($spacer * math.div(35, 16)), //35px
    9: ($spacer * math.div(40, 16)), //40px
    10: ($spacer * math.div(45, 16)), // 45px
    11: ($spacer * math.div(50, 16)), // 50px
    12: ($spacer * math.div(55, 16)), // 55px
    13: ($spacer * math.div(60, 16)), // 60px
    14: ($spacer * math.div(65, 16)), // 65px
    15: ($spacer * math.div(70, 16)), // 70px
    16: ($spacer * math.div(75, 16)), // 75px
    17: ($spacer * math.div(80, 16)), // 80px
    18: ($spacer * math.div(85, 16)), // 85px
    19: ($spacer * math.div(90, 16)), // 90px
    20: ($spacer * math.div(95, 16)), // 95px
    21: ($spacer * math.div(100, 16)), // 100px
);

$sizes: (
    '25': 25px,
    '50': 50px,
    '75': 75px,
    '100': 100px,
    '25p' : 25%,
    '50p' : 50%,
    '75p' : 75%,
    '100p' : 100%,
);

$font-sizes: (
    '14': 14px,
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '22': 22px,
    '24': 24px,
    '30': 30px,
    '36': 36px,
);

$line-heights: (
    '20': 20px,
    '24': 24px,
    '30': 30px,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    hd: 1440px
);
